*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}

.header{
    background:black;
    display:flex;
    height:120px;
    justify-content: space-between;
    align-items:center;
    padding:20px;
    padding-left:40px;
    padding-right:40px;
}

.headerTitle{
    color: white;
    text-transform: uppercase;
    font-size: 400%;
    font-weight:400;
}

.headerButton{
    text-transform: uppercase;
    background:transparent;
    color: white;
    border: none;
    font-size: 150%;
    letter-spacing: 2px;
}

.headerButton:hover{
    cursor:pointer;
}

.mainNavigation{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:black;
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity:0;
    transition: 0.2s all;
}

.mainNavigationList{
    list-style: none;
}

.mainNavigationListItem{
    color:white;
    font-size: 350%;
    text-transform: uppercase;
    text-align:center;
    margin-bottom: 20px;
}

.mainNavigationListItem > a {
    text-decoration: none;
    color:white;
}

#container{
    background-color: gray;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px gray;
}

#myInteraction{
    padding: 10px;
}

.bigFigure{
    width:100%;
    height:110vh;
}

.bigFigure > img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.collections{
    width:100%;
    padding:40px;
}

.collectionsTitle, .infoTitle{
    font-size: 350%;
    color:black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom:40px;
}

.collectionsList{
    list-style: none;
    display:flex;
    gap: 40px;
    flex-wrap: wrap;
}

.collectionsListItem{
    width: 500px;
    height:700px;
    flex-shrink: 1;
    flex-grow: 1;
}

.collectionsListItem > img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.info{
    padding:40px;
    display:flex;
    gap:40px;
    flex-wrap: wrap;
}

.block{ 
    width:400px;
    flex-shrink: 1;
    flex-grow: 1;
}

.footer{
    height:120px;
    background:black;
    display:flex;
    color:white;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    padding-left:40px;
    padding-right:40px;
}

.footerNavigationItem{
    font-size:80%;
    font-style: italic;
}

.footerNavigationItem > a{
    color:white;
    text-decoration: none;
}

.footer > address{
    font-size:80%;
}
